<% include ./partials/headers.ejs%>
<link rel="stylesheet" href="main.css">

<div class="container">
<h1> Weather Station </h1>
<script>
    (form)=>{
        if(form.cityname.value === ''){
            alert(' Enter any city name')
            return false;
        }
        else {
            return true;
        }
    }
</script>

<form  autocomplete="off" method ='post' action = '/search ' onsubmit="return checkform(this)">

    <div class="active-cyan-3 active-cyan-4 mb-4">
        <input style="height: 7%" class="autocomplete form-control" type="text" name = "cityname" placeholder="cityname" aria-label="Search">
    </div>

     <button  class="wrapper button" type="submit">Search</button>
</form>

</div>

<% include ./partials/footers.ejs%>

